/* ////////////////////////////////////// */
/* footer css  */
/* ////////////////////////////////////// */

footer {
  background-color: #f2f2f2;
  width: 100%;
  text-align: center;
}

#footer_shop_sns {
  background-color: #222;
  color: white;
  padding-top: 20px;
}

.footer_shop_sns_head {
  font-size: 3rem;
  padding: 20px 0;
}

.footer_shop_sns_box {
  display: flex;
}

.footer_shop_sns_box li {
  display: block;
  padding: 10px 0;
  cursor: pointer;
  border-right: 1px solid #555;
  width: 33.3%;
  margin-bottom: 10px;
}

.footer_shop_sns_box li :last-child {
  border: none;
}

.footer_shop_sns_icon img {
  width: 33.3%;
}

.footer_shop_sns_icon p {
  color: white;
  font-size: 1.2rem;
  padding: 5px 0;
}

/* pankuzu */

#pankuzu {
  padding-top: 30px;
}

#pankuzu ul li {
  display: inline;
  color: black;
}

/* ここに関してはphpから取るときに追加すれば良い気がする */
#pankuzu ul li span::after {
  content: ">>";
}

#pankuzu ul li a {
  color: black;
}

#footer_shop_box {
  padding: 30px;
  text-align: center;
}

.footer_shop_logo {
  padding-top: 10px;
  font-size: 3rem;
}

.footer_shop_number {
  font-size: 1rem;
}

.footer_shop_time {
  width: 80%;
  margin: 0 auto;
}

.ribbon {
  font-size: 1.5rem;
  line-height: 30px;
  position: relative;
  height: 30px;
  margin: 0.5em 10px 0.5em;
  padding: 0 0.2rem;
  text-align: center;
  color: #fff;
  background: #fa4141;
}

.ribbon:before,
.ribbon:after {
  position: absolute;
  top: 0;
  display: block;
  height: 30px;
  content: "";
  border: 15px solid #fa4141;
}

.ribbon:before {
  left: -30px;
  border-left-width: 15px;
  border-left-color: transparent;
}

.ribbon:after {
  right: -30px;
  border-right-width: 15px;
  border-right-color: transparent;
}

.footer_shop_time span {
  position: relative;
  display: block;
}

.footer_shop_attention {
  margin-top: 40px;
  padding-top: 20px;
  font-size: 1rem;
  color: rgb(121, 121, 121);
  line-height: 1.5rem;
  border-top: 1px solid #d9d9d9;
}

#js-scroll-top {
  text-align: center;
  display: block;
  height: 40px;
  background-color: palevioletred;
  line-height: 40px;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
