@charset "utf-8";

/* top */
/* 今日の出勤　くちこみのところと合体 */

/* 新人情報 */

.entry_day {
  width: 100%;
  margin: 5px auto;
  text-align: left;
  padding-left: 1rem;
  background-color: #cad3d2;
  line-height: 3rem;
  font-weight: bold;
}

#new_face .swiper2 .swiper-wrapper .girl-slide a {
  color: rgb(95, 94, 94);
  font-size: 1.5rem;
}

#new_face .staff_data {
  padding: 24px 0;
}
#new_face .staff_data .name {
  font-weight: bold;
  font-size: 2rem;
  color: black;
}

/*今日の出勤 くちこみ */
/* 共通 */

.staff_review_wrap,
.today_staff_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.staff_review,
.staff_card {
  width: 49%;
  margin: 10px 0;
}

.staff_review_card {
  width: 33%;
  margin: 10px 0;
  overflow: hidden;
}

.today_staff_profile {
  width: 100%;
  height: 100%;
}

.today_staff_card .staff_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

/* 今日の出勤 */

/* 出勤 */
.staff_list {
  border: 2px solid;
  border-color: pink;
}

/* パネル写真エリア */
.staff_photo_area {
  position: relative;
}

.panel_icon_samall {
  display: block;
  text-align: center;
  font-size: 1rem;
  padding: 2px 4px;
  line-height: 1.2rem;
}

.staff_photo_area .staff_original_contents {
  display: flex;
  position: absolute;
  bottom: 2px;
  right: 0;
  font-size: 0.8rem;
}

.staff_original_contents .panel_icon_samall {
  color: #fff;
  border-radius: 0 6px;
  margin: 0 2px;
}

/* パネルアイコン */
/* ムービー */
.panel_movie_icon {
  background-color: red;
}
/* 日記 */
.panel_diary_icon {
  background-color: orange;
}

/* TWITTER */
.panel_twitter_icon {
  background-color: skyblue;
}

/* ーーープロフィールエリアーーー */

.staff_profile_area {
  margin: 10px 0;
  text-align: center;
}

/* 名前年齢 */
.staff_profile_area .name_age p {
  margin-bottom: 4px;
  line-height: 1.7rem;
}

/* 名前 */
.staff_profile_area .name_age p .staff_name,
.row_girl_data .name_age p .staff_name {
  font-size: 1.7rem;
}

/* 年齢 */
.staff_profile_area .name_age p .staff_age {
  font-size: 1.3rem;
  margin-left: 4px;
  letter-spacing: 0.2rem;
}

/* スタイル */
.bodysize {
  font-size: 1.3rem;
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
}

/* 時間 */

.row_time_area {
  display: inline-block;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  border: #fe77a7 1px solid;
  margin: 5px 0;
  color: #fe77a7;
  padding: 2px 5px;
}

/* 横一列での表示 */

.row_staff_wapp {
  width: 100%;
}

.row_girl_card {
  padding: 15px 5px;
  border-bottom: 1px dotted #a1a1a1;
}

.row_girl_card a {
  display: flex;
}

.row_girl_photo_area {
  width: 33%;
}

.row_girl_data {
  margin-left: 10px;
}

.row_shop_comment_text {
  font-size: 1.4rem;
}

.row_girl_tag {
  display: flex;
}

.row_girl_tag li {
  padding: 0 5px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 5%;
  line-height: 2rem;
}

.row_shop_comment_text {
  margin-top: 10px;
  height: 40px;
  font-size: 1.4rem;
  line-height: 2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* 口コミページ */

/*  */
#new_reviews {
  background-color: #fff;
  padding: 24px 0;
}
.new_review_title,
.all_review_title {
  margin-left: 2%;
}

.newreview_wrap {
  margin: 24px 0;
}

.new_staff_review_content {
  padding: 4px 0;
  width: 100%;
  display: block;
  text-decoration: none;
}

.new_staff_review_photo {
  height: 140px;
  object-fit: cover;
}

.new_review_card {
  background-color: #f5f5f7;
  border-radius: 10px;
  height: 400px;
  overflow: hidden;
}

.review_comment {
  font-size: 1.4rem;
  margin: 17px 0;
  font-size: 1.4rem;
  line-height: 2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.new_review_date {
  width: 100%;
  font-size: 1.2rem;
  text-align: left;
  padding: 17px;
  margin-bottom: 10px;
}
/* オール */
#all_reviews {
  padding: 32px 0;
}

/* 口コミカード */
.staff_review_list {
  width: 33%;
  margin-bottom: 20px;
  position: relative;
}

/* 口コミ数 */
.review_num {
  margin: -12px 0 -12px -12px;
  position: relative;
  z-index: 2;
}

.review_num span {
  text-align: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #454545;
  border-radius: 12px;
  line-height: 24px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

.staff_review_content {
  padding: 4px 4px 0 4px;
  width: 100%;
  display: block;
  text-decoration: none;
}

.review_date {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  margin: 10px 0;
}

.review_date .girl_name {
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 10px;
}

.review_page_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 24px auto;
}

.staff_review_list {
  width: 30%;
}

.review_count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.staff_review_photo img {
  vertical-align: bottom;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.update_review {
  font-size: 1rem;
  padding: 2px 8px;
  margin-left: 0;
  font-weight: 600;
  border-radius: 100px;
  background: #fe77a7;
  color: #fff;
  display: inline-block;
  line-height: 1.6rem;
}

.update_review span {
  margin-right: 1rem;
}
/* ランキング */
.ranking_head {
  font-size: 2rem;
  color: #fff;
  padding: 10px;
}

.ranking_list {
  padding: 5px 10px 10px;
  display: flex;
  flex-wrap: wrap;
}

.ranking_list li {
  position: relative;
  width: 50%;
}

.ranking_list li img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.ranking_list li:first-child {
  width: 100%;
}

.ranking_girl_data {
  width: 100%;
  padding: 10px;
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 0;
}

.rank_mark {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  top: 5px;
  right: 5px;
  background-color: rgb(255, 149, 187);
  color: white;
  border-radius: 50%;
  font-size: 1.5rem;
}

/* 新しい表示 */
.staff_bg ul {
  display: flex;
  flex-wrap: wrap;
}
.staff_bg ul li {
  display: block;
  background: #fff;
  box-shadow: 0px 12px 20px -4px rgb(0 0 0 / 10%);
  position: relative;
  width: 47%;
  margin: 5px 5px 30px 5px;
  border-radius: 8px;
  position: relative;
}

.staff_bg ul li .today_staff_card {
  margin: 0 auto;
  padding: 8px 8px 0 8px;
  display: block;
  text-decoration: none;
}

.today_staff_card .staff_photo img {
  padding: 3px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.time_area {
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.time_area ::before {
  content: "●";
}

/* 新人 */
.girl_types {
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.girl_type {
  font-size: 1rem;
  color: #fff;
  border-radius: 10px;
  padding: 0 8px;
  margin-left: 4px;
  margin-bottom: 4px;
}
.staff_name_age {
  font-weight: bold;
  font-size: 1.6rem;
}
.staff_age {
  font-weight: bold;
  font-size: 1rem;
}

.staff_original_contents {
  margin: 0 10px;
  padding-bottom: 10px;
  text-align: right;
  font-size: 2rem;
}
