@charset "utf-8";

#girls_profile {
  position: relative;
  top: -45px;
}

.girl_profile_imgs {
  height: 90vh;
}

.profile_img {
  object-fit: cover;
}
.swiper-pagination-bullets {
  position: absolute;
}

/*　profileデータ */
#girls_data {
  margin-top: 24px;
}

.girls_basic_plofile {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

/* タグ */
/* 新人マーク */
.girls_special_tag {
  font-size: 1rem;
  color: #fff;
  border-radius: 10px;
  line-height: initial;
  padding: 4px 14px;
  margin: 0px 0px 8px;
  display: inline-block;
}

/* パンチライン */
.girl_punchline {
  font-size: 1.2rem;
  color: #c8b39a;
}

/* 名前SNS */
.girl_name_sns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 10px 0;
}
/* 名前 */
.girl_name_sns h1 {
  display: inline-block;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0.3rem;
  position: relative;
}

/* さんとかちゃんとか */
.girl_name_sns .san_chan {
  font-size: 2rem;
}

/* snsmark */
.girl_name_sns .sns_mark_list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.girl_name_sns .sns_mark_list .circle_icon {
  margin: 0 0 0 8px;
}

.girl_name_sns .sns_mark_list .circle_icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #383838;
  border-radius: 18px;
  text-align: center;
  position: relative;
}

.girl_name_sns .sns_mark_list .circle_icon a i {
  position: absolute;
  text-align: center;
}

/* サイズ */

.girl_age_size_review {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}

/* profile以外のタグ */

/* girlContents */
#girl_contents {
}

#girl_contents .girl_content_head .girl_content_img {
  display: block;
  margin: 0 auto 8px auto;
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 64px;
}

#girl_contents .girl_content_head .girl_content_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#girl_contents .girl_content_title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
}
/* キャラクタータグ */

.girl_characteristic {
  width: 90%;
  text-align: left;
  margin: 32px auto;
  display: flex;
  align-items: baseline;
}

.girl_tag_title {
  color: black;
  font-size: 2rem;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-right: 18px;
  line-height: 1.8;
}

.play_type_tag {
  font-size: 1rem;
  color: #fff;
  border-radius: 10px;
  line-height: initial;
  padding: 4px 14px;
  margin: 0px 0px 8px;
  display: inline-block;
}

.girl_sns {
  background-color: skyblue;
  border: none;
  color: white;
}

/* Q&A */

.girl_qanda {
  width: 90%;
  text-align: left;
  margin: 32px auto;
}

.qandaSwiper {
  margin-top: 10px;
}

.question_title {
  text-align: left;
  line-height: 1.8;
}

.q_list {
  width: 100%;
  text-align: left;
}

.q_item .qanda_question {
  margin-left: 0.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 12px;
}

.q_item .qanda_answer {
  font-size: 1.1rem;
  background: #eceff1;
  padding: 24px;
  border-radius: 16px;
  position: relative;
}

.q_item .qanda_answer::before {
  content: "";
  background: #ebeff1;
  width: 24px;
  height: 24px;
  top: -4px;
  left: 14px;
  border-radius: 4px;
  transform: rotate(45deg);
  position: absolute;
  z-index: -9;
}

/* オプション */
#girl_option {
  width: 90%;
  text-align: left;
  margin: 32px auto;
  display: flex;
  align-items: baseline;
}
.girl_option_list {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  line-height: 2.6rem;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 12px;
}
.girl_option_list .option_card {
  display: flex;
  width: 48%;
  border-radius: 10px;
  background-color: #f7f7f7;
  overflow: hidden;
  margin: 3px;
  color: #ff759e;
  border: 1px solid #ff759e;
}

.girl_option_list .option_card .option_q {
  width: 80%;
  background-color: pink;
}

.girl_option_list .option_card .option_a {
  width: 20%;
  font-family: monospace;
  font-weight: bold;
}

/* option NG */
.girl_option_list .option_card.option_ng {
  border: 1px solid #3f3f3f;
}

.girl_option_list .option_card .option_q.option_ng {
  width: 80%;
  background-color: gray;
  color: #3f3f3f;
}

.girl_option_list .option_card .option_a.option_ng {
  color: gray;
}

/* ムービー */

.pic_title {
  width: 90%;
  margin: 0 auto;
}

.video_wrapper {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  margin-bottom: 12px;
}
.video_wrapper video {
  border-radius: 16px;
}

/* グラビア */

.gravure_card {
  padding: 8px 8px 12px 8px;
  width: 100%;
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 0px 12px 8px -4px rgb(0 0 0 / 10%);
  background-color: #fff;
}

.gravure_card figure img {
  margin-bottom: 12px;
}

.gravure_card figure figcaption {
  font-weight: bold;
}

/* sns */
.sns_title {
  width: 90%;
  margin: 0 auto;
  color: white;
}

/* スケジュール インタビュー　レビュー オプション　共通 */

/* スケジュール変更 */

.schedule_box {
  padding: 32px 10px;
  background-color: #fff;
}

.schedule_day_tip a {
  color: #3f3f3f;
  width: 100%;
}
.schedule_day_tip {
  background-color: #fff;
  padding-bottom: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 40%);
  overflow: hidden;
}

*.week_sun {
  border: 1px solid #f78da7;
}
*.week_sun p {
  background-color: #f78da7;
}

*.week_sat {
  border: 1px solid #0693e3;
}

*.week_sat p {
  background-color: #0693e3;
}

.schedule_date {
  width: 100%;
  padding: 4px 0;
  background-color: grey;
  color: #fff;
}

.attendance_time {
  padding: 20px;
}
.attendance_time span {
  display: block;
}

.girl_reserve_btn {
  padding: 4px 8px;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 40%);
}

#girl_schedule,
#girls_review {
  background-color: #e8e8e8;
  padding-bottom: 32px;
}

.girl_review_list {
  border-radius: 0.5rem;
  padding: 0 0.7rem;
  width: 100%;
}

/* sns TWITTER diary */

.twitter_area {
  margin-bottom: 24px;
}

.twitter_wrapper {
  height: 240px;
  padding: 10px 3%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.twitter_wrapper > iframe {
  width: 100vw !important;
}

.diary_area .diary_wrap {
  width: 95%;
  margin: 0 auto;
}

/* クチコミ */

#shop_comment,
#pickup_recommend,
#customer_review {
  width: 90%;
  text-align: left;
  margin: 18px auto 0 auto;
  align-items: baseline;
}

/* お店から一言 */

#shop_comment .review_content_head .review_content_img {
  display: block;
  margin: 0 auto 8px auto;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 32px;
}

#shop_comment .review_content_head .review_content_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#shop_comment .shop_comment_title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
}

.shop_comment_text {
  font-size: 1.1rem;
  background: #eceff1;
  padding: 20px;
  border-radius: 16px;
  position: relative;
}

/* pickup レビュー */
#pickup_recommend .pickup_recommend_head .pickup_recommend_img {
  display: block;
  margin: 0 auto 8px auto;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 32px;
}

#pickup_recommend .pickup_recommend_head .pickup_recommend_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#pickup_recommend .pickup_recommend_name {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
}

.pickup_recommend_title {
  font-size: 1.4rem;
  font-weight: bold;
}
.pickup_recommend_contents {
  margin-top: 12px;
  font-size: 1.1rem;
  background: #eceff1;
  padding: 20px;
  border-radius: 16px;
  position: relative;
}

.pickup_recommend_text {
  margin-top: 12px;
}
.pick_up_mark {
  background-color: red;
  color: white;
  font-size: 2rem;
  position: absolute;
}

.date_of_use {
  margin-left: 24px;
}

.fukidashi_red {
  background-color: #08a517;
}

.review_title {
}

.girl_review_wrap {
  width: 100%;
  margin: 0 0.2%;
}

.girl_review_head {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem 0;
}

.girl_review_head::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3px;
  background: linear-gradient(-45deg, #7a1036, #ff7ebe, #f5d0e2, #ffdea5);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: auto;
  z-index: 1;
}

.girl_review_head::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 2px;
  right: 10px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  width: 6px;
  height: 6px;
  margin: auto;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  z-index: 2;
}

/* 名前 */
.girl_review_head .reviewer_name {
  width: 33%;
}

/* 星 */
.girl_review_head .review_fav {
  width: 33%;
}

.girl_review_head .review_date {
  width: 33%;
}

/* レビュー本文 */
.girl_review_body {
  max-height: 0;
  width: 98%;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  margin: 0 auto 2px auto;
  background-color: white;
  border-radius: 8px;
}

/* レビュー開いたら */
.girl_review_wrap.is-open .girl_review_head::after {
  bottom: 0px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.5s ease-in-out;
}

.girl_review_wrap.is-open .girl_review_body {
  max-height: 550px;
  margin: 0 auto 2px auto;
}

.girl_review_list dl:not(:last-child) {
  border-bottom: 1px dotted #ff7ebe;
}

.review_content {
  padding: 1rem;
}

.review_content .visit_date {
  margin-bottom: 10px;
}

.review_content .visit_date span {
  margin-right: 2rem;
}

.goto_review_write {
  margin-top: 20px;
}
