@charset "utf-8";

/* mapページ */

.area_lists {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.area_lists li {
  width: calc(100% / 3);
  padding: 3px;
  text-align: center;
}

.area_lists li a {
  display: block;
  width: 100%;
  line-height: 200%;
  border-radius: 10px;
}

.google_map_monitor {
  display: block;
  width: 90%;
  height: 640px;
  margin: 50px auto;
}
