@charset "utf-8";
/* ------------------------------------ */
/* swaiper */

.swiper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.swiper-wrapper {
  /* background-color: #678; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  height: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}

.swipe_a {
  width: 100%;
  max-width: 768x;
  display: block;
  /* これがswiperのサイズに対しての画像高さ */
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullets {
  position: static;
  margin-top: 8px;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 0 0 10px !important;
  background: #ffbc0d !important;
}

.swiper-pagination-bullet:first-child {
  margin: 0 !important;
}

/* ------------------------------------ */
/* 新人ピックアップ */
.swiper_custom_parent {
  position: relative;
}
.swiper2 {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  /* padding: 24px 0; */
}

.girl-slide {
  height: 100%;
  width: 400px;
  /* Center slide text vertically */
}

.girl-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* next prev 矢印関連 */
/* グレイの背景 */
.swiper_arrow {
  top: 40%;
  width: 32px;
  height: 32px;
  background-color: rgba(133, 133, 133, 0.5);
  border-radius: 50%;
  border: 1em solid rgba(133, 133, 133, 0.01);
}

.swiper-button-next.next1.swiper_arrow,
.swiper-button-prev.prev1.swiper_arrow,
.swiper-button-next.next2.swiper_arrow,
.swiper-button-prev.prev2.swiper_arrow {
  color: #fff;
  font-size: 12px;
}

.swiper-button-next.next1.swiper_arrow::after,
.swiper-button-prev.prev1.swiper_arrow::after,
.swiper-button-next.next2.swiper_arrow::after,
.swiper-button-prev.prev2.swiper_arrow::after {
  font-size: 12px;
}

/* 下部のページネーション関連 */
.swiper-pagination.page2 {
}

/* クーポンーーーーーーーーーーーー */
.swiper3 {
  /* padding: 24px 0; */
}

/* newsーーーーーーーーーーーー */
.swiper4 {
  width: 95%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}

.news-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 30%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}

.news-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
