@charset "utf-8";

/* ニュースのところ */

/* ニュースのところ */
.topics {
  width: 95%;
  margin: 0 auto;
}

.topic {
  overflow: hidden;
  width: 100%;
  display: flex;
  list-style: none;
  margin-bottom: 5px;
  padding: 10px 5px;
  justify-content: space-between;
  color: #6e6e73;
  background: #d7d7d7;
  background: -webkit-linear-gradient(
    top,
    #ffffff 60%,
    #ffffff 60%,
    #ebebeb 100%
  );
  background: linear-gradient(
    to bottom,
    #ffffff 60%,
    #ffffff 60%,
    #ebebeb 100%
  );
  border: 1px solid #d7d7d7;
}

.topic a {
  color: black;
  font-size: 1.2rem;
}

.news_data {
  width: 25%;
}
.news_data time {
  font-weight: 500;
  display: block;
  font-size: 1.1rem;
  line-height: 1.8;
  color: black;
}
.news_top_title {
  width: 74%;
  padding: 4px 0;
}

.news_contents {
  width: calc(100% - 128px);
  height: 60px;
  padding-right: 2px;
}

.news_title {
  height: 40px;
  font-size: 1.4rem;
  line-height: 2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.news_kinds {
  font-size: 1rem;
  padding: 2px 8px;
  margin-left: 0;
  font-weight: 600;
  border-radius: 100px;
  background: #999;
  color: #fff;
  display: inline-block;
  line-height: 1.6rem;
}
