@charset "utf-8";

.reviewed_girl {
  display: block;
  margin: 0 auto 8px auto;
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 64px;
}

.reviewed_girl img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviewed_girl_title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
}

.reviewed_girl_data {
  margin: 10px 0;
  text-align: center;
}

.reviewed_girl_data .stars_radio {
  display: inline-block;
}

.comment_count {
  margin-left: 2rem;
}

.review_button {
  padding: 10px 0;
}

/* レビューする側 */

.card {
  border-radius: 10px;
}

.reviewer {
  padding: 5px;
  background-color: rgb(214, 214, 215);
  overflow: hidden;
  margin-bottom: 6px;
}

.reviewer a {
  display: flex;
  color: #6e6e73;
  align-items: center;
}

.reviewer_data {
  height: 100%;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-left: 10px;
}

.reviewer_data .user_name {
  font-size: 1.6rem;
  display: inline;
}

.user_icon {
  display: inline-block;
  width: 34px;
  height: 34px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.user_icon img {
  position: absolute;
  left: -100%;
  right: -100%;
  margin: auto;
  width: 100%;
}

.review_body {
  background-color: rgb(237, 237, 238);
  padding: 10px;
}

/* レビュー　ヘッダー */

.review_header {
  font-size: 1.2rem;
  margin-top: 12px;
}
.review_header .assessment {
  color: rgb(255, 133, 146);
}

.review_header .stars {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-top: 5px;
}

.total_evaluation {
  margin: 5px 0;
}

.review_rate {
  display: flex;
  color: #b6b6bb;
  padding-bottom: 10px;
  border-bottom: 1px grey solid;
}

.review_rate li {
  margin-right: 5%;
}

.review_main {
  padding: 20px 5px 0 5px;
}

.review_main .review_title,
.review_reply .reply_title {
  font-size: 1.6rem;
  font-weight: bold;
}

.review_main .review_text,
.review_reply .reply_text {
  font-size: 1.2rem;
  padding: 10px 0;
}

.writen_by {
  background-color: rgb(220 233 218);
  padding: 10px;
  margin: 6px 0;
  font-size: 1.4rem;
}

.writen_by .review_footer,
.reply_footer {
  color: #b6b6bb;
}

/* 返信 */
.review_reply {
  background-color: #f2f2f2;
  padding-left: 5%;
  padding-top: 10px;
  border-radius: 10px;
}

.review_reply .reply_title {
  font-size: 1.6rem;
  font-weight: bold;
}

/* レビューフォーム */

.netreserve_attention_title {
  margin: 10px 0;
}

.netreserve_attention_text {
  font-size: 1rem;
  line-height: 1.4rem;
}

.line_link_banner p {
  font-size: 1rem;
  padding-left: 1rem;
}

/* フォーム */

/* 全体 */
.review_from_body form,
.reserve_check_form {
  margin: 0 auto;
  text-align: left;
  font-size: 1.4rem;
}

/* １項目 */
.review_item_wrap,
.reserve_check_form dl {
  background-color: #fff;
  border-radius: 10px;
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 0.5rem;
}

.reviewed_bg_pink {
  background-color: rgb(249, 232, 232);
}

.reviewed_bg_blue {
  background-color: rgb(236, 232, 249);
}

/* レビューする項目の注意点 */
.review_tips {
  font-size: 1rem;
  color: #6e6e73;
  padding-left: 1rem;
}
.review_from_body form dt,
.reserve_check_form dt {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: cornflowerblue;
}

.review_from_body form dt::before {
  content: "●";
}

/* 必須表示 */
.review_from_body form em {
  display: inline-block;
  background-color: rgb(193, 0, 0);
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
  vertical-align: top;
  color: white;
}

.review_from_body form dd,
.reserve_check_form dd {
  font-size: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0;
  font-weight: bold;
  color: #000000;
}

/* 一つに複数の項目を入れるために作った */
.review_girl_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 遊んだ人と時間 */
.review_girl_item .played_program_item {
  width: 100%;
}

/* 遊んだ日 */
.review_girl_item .played_date_item {
  width: 60%;
  margin-top: 20px;
}

/* カレンダー系 */
.review_from_body form input[type="date"] {
  width: 100%;
  background: white;
  border: 1px solid #bebebe;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.date-edit {
  position: relative;
}

/* ボタン部分 */
.date-edit::before {
  /* background: url(../img/now.png) no-repeat center center / cover #f7d94c; */
  background-color: #06c755;
  content: "カレンダー表示";
  position: absolute;
  top: -11px;
  right: -140px;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 10px 20px;
}

.review_from_body form input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.review_from_body form input[type="date"]::-webkit-clear-button {
  -webkit-appearance: none;
}

/* カレンダーを出すボタン */
.review_from_body form input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: -140px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  background: transparent;
  /* background-color: rgba(0, 0, 0, 0.6); */
  color: transparent;
  cursor: pointer;
  height: 50px;
  width: 140px;
}

/* 評価項目ひとつづつ */
.review_item_card {
  padding-bottom: 20px;
}

/* 入力枠テキスト */
.review_from_body form input[type="text"],
.review_from_body form input[type="date"],
.review_from_body form select {
  width: 100%;
  background: white;
  border: 1px solid #bebebe;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 5px;
}

.reserve_from_body form select {
  border-radius: 0%;
  font-size: 1.6rem;
  height: 4rem;
  margin-bottom: 30px;
}

.reserve_from_body form input[type="radio"],
.reserve_from_body form input[type="checkbox"] {
  position: relative;
  top: -2px;
  margin-right: 2px; /*追加*/
}

/* 利用場所 */

.play_place {
  border: 1px solid #bebebe;
  font-size: 1.6rem;
  padding: 5px 10px 5px 5px;
  margin-right: 10%;
}
.play_place_title {
  display: block;
  margin-top: 20px;
}

.play_place_title input[type="text"] {
  margin-top: 10px;
}

.play_place_select,
.option_select {
  display: inline-block;
  margin: 8px;
}

/* 利用日時 */
.play_date_time {
  margin-bottom: 15px;
}

.reserve_from_body form dl dd textarea {
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.6;
}

.reserve_from_body form .submit {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.reserve_from_body form .submit input[type="submit"] {
  border: none;
  background-color: pink;
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  transition: 0.2s;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0%;
  font-size: 1.7rem;
}

.reserve_from_body form .submit input[type="submit"]:active {
  border: none;
  background-color: red;
  color: white;
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  transform: translateY(2px);
}

/* 星レーティング入力 */

.review_item_card .stars_radio {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
}

.review_item_card .stars_radio input[type="radio"] {
  display: none;
}
.stars_radio label {
  padding-right: 15px;
  color: #ccc;
  font-size: 30px;
  cursor: pointer;
}
.stars_radio label:hover,
.stars_radio label:hover ~ label,
.stars_radio input[type="radio"]:checked ~ label {
  color: #fc0;
}

/* alert */
.mini_alert,
.hidden_alert {
  color: red;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 5px;
  vertical-align: baseline;
  line-height: 1rem;
}

.review_present {
  font-size: 1rem;
  color: #6e6e73;
  line-height: 1.2rem;
  padding: 10px 0;
}

/* 文字カウント */
#review_title_count,
#review_count,
.review_limit {
  margin-left: 1rem;
}

/* レビュー本文 */
.review_text_body {
  margin-top: 20px;
}

.review_limit {
  font-size: 1rem;
  color: #6e6e73;
}

.review_from_body form dl dd textarea {
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.6;
}

.review_mailinglist {
  padding: 0 10px;
}

/* 送信ボタン */
.review_from_body form .submit {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.review_from_body form .submit input[type="submit"] {
  border: none;
  background-color: pink;
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  transition: 0.2s;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0%;
  font-size: 1.7rem;
}

.review_from_body form .submit input[type="submit"]:active {
  border: none;
  background-color: red;
  color: white;
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  transform: translateY(2px);
}

/* 確認画面 */

.check_attention {
  margin-bottom: 20px;
}

.check_form_submit {
  display: flex;
  text-align: center;
  margin-top: 2rem;
  width: 100%;
}

.check_form_submit input[type="submit"],
.check_form_submit input[type="button"] {
  border: none;
  display: block;
  width: 50%;
  padding: 10px 0;
  transition: 0.2s;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0%;
  font-size: 1.7rem;
}
.check_form_submit .form_back {
  margin-right: 10px;
}

.check_form_submit .form_next {
  background-color: pink;
}

.check_form_submit input[type="submit"]:active,
.check_form_submit input[type="button"]:active {
  transform: translateY(2px);
}

.check_form_submit input[type="submit"]:active {
  background-color: rgb(129, 58, 70);
}

/* 入力された事項だけ見やすく */
.reserve_check_form dd {
  font-size: 1.6rem;
  padding-left: 2rem;
}

.form_alert {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
}
.form_alert h3 {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 10px;
}

.form_alert p {
  font-size: 1.3rem;
}

.back_to_top {
  margin: 20px auto;
  line-height: 5rem;
  width: 80%;
  border-radius: 20px;
}

/* 評価各種 */
.wrapp_item_detail {
  width: 90%;
  margin: 0 auto;
}

.review_item_detail {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: space-between; /* Safari */
  justify-content: space-between;
}

/* 星の色 */
.star_detail {
  color: #6e6e73;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.stars_gray::before {
  --star-color: #c1c1c1;
}

/* 確認画面 */
.reviewed_head {
  padding: 15px 10px;
  background-color: rgb(230, 218, 218);
  border-radius: 10px;
}

/* ポップアップ */

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 30px 15px;
  background-color: #fff;
  z-index: 2;
}
.popup-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  cursor: pointer;
}

/* line予約関連 */
.line_box {
  width: 98%;
  border: solid 1px #06c755;
  margin: 0 auto;
  padding: 20px 15px;
}

.line_box h2 {
  margin-bottom: 10px;
}

.line_box h2 span {
  color: #06c755;
}

.line_box .mobile_line_btn {
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

.line_box .mobile_line_btn img {
  object-fit: cover;
  width: 60%;
}

.line_box .pc_line_btn {
  width: 25%;
  height: 25%;
  display: block;
  margin: 0 auto;
}

#line_reserve_procedure {
  padding-top: 32px;
}

#line_reserve_procedure .content_wrapper {
  background-color: #06c755;
}

#line_reserve_procedure h2 {
  margin: 20px 5px;
  color: #fff;
}
.line_reserve_contents_list {
  margin: 10px;
}

.line_reserve_contents_list_inner {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 10px;
}
.line_reserve_contents_title {
  font-size: 2rem;
  margin: 5px;
  border-bottom: solid 2px #06c755;
}
.line_reserve_contents_title span {
  color: #06c755;
}

.line_reserve_attention {
  font-size: 1rem;
  color: #fff;
  line-height: 1.2rem;
}

#line_reserve_terms {
  background-color: #e8e8e8;
  padding: 10px 10px 30px 10px;
}

#line_reserve_terms h2 {
  margin: 20px 5px;
}

#line_reserve_terms p {
  font-size: 1.2rem;
}

/* 口コミフォーム */

.guideline {
  padding: 10px 0 10px 15px;
  font-size: 1rem;
  line-height: 1.4rem;
  list-style-type: decimal;
}

.guideline_attention {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

/* 新しいレーダーとか */

.review-card {
  width: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.review-meta {
  font-size: 12px;
  color: gray;
}

.review-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.rating-box {
  width: 50%;
  flex: 1;
}

.chart-box {
  width: 50%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-box canvas {
  max-width: 100%;
}

.review-title {
  font-weight: bold;
  margin-top: 10px;
}

.review-comment {
  margin-top: 5px;
}

.review-publication-date {
  margin-top: 20px;
}
.please-leave-review {
  width: 90%;
  text-align: center;
  margin: 3rem auto 1rem auto;
  font-size: 1.5rem;
}
