@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  /* ゴシック */
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo",
    "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", sans-serif;
  /* 明朝 */
  /* font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif; */
  font-size: 1.4em;
  line-height: 2.24rem;
  box-sizing: border-box;
  color: #333;
}

/* スマホの何故か入力欄の角が丸くなるのをリセット */
input[type="button"],
input[type="text"],
input[type="submit"],
input[type="image"],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

/* setting_index02 */

/* 確認画面のcss */
/*  */
/* */
/*  */
/*  */
/*  */
/*  */
/* 他のページのfontサイズチェック */
/* 画像送信の復習 */
/* マイページログインに着手 */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

body {
  background-color: rgb(217, 216, 196);
}
main {
  width: 90%;
  margin: 0 auto;
}

/* header */

header {
  height: 40px;
  background-color: #04384c;
  font-size: 1.8rem;
  font-weight: bold;
}

header a {
  color: white;
  padding: 0 10px;
}

header h1 {
  padding-left: 1rem;
}

.sheader_lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.setting_head_left {
  float: left;
}

.setting_head_right {
  float: right;
}

#setting_index {
  width: 100%;
  font-size: 1.6rem;
}

/*選択されているタブのコンテンツのみを表示*/
#basic_setting:checked ~ #basic_setting_lists,
#approval_setting:checked ~ #approval_setting_lists,
#register_setting:checked ~ #register_setting_lists {
  display: block;
}

.list_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5%;
}

.list_flex_box {
  display: block;
  width: 47%;
  height: 150px;
  margin-bottom: 30px;
  background-color: #fff;
  text-align: center;
  font-size: 1.8rem;
}

.list_flex_box a {
  height: 100%;
  display: block;
}

.setting_icon {
  text-align: center;
}

.basic_setting_link a {
  border: 1px solid #00b5ad;
}

.approval_setting_link a {
  border: 1px solid #b5005b;
}

.register_setting_link a {
  border: 1px solid #b5b500;
}

.list_flex_box a span {
  line-height: 150px;
  padding: 0.4rem;
  border-radius: 3px;
}

.basic_setting_link a span {
  color: #00b5ad;
  border: 1px solid #00b5ad;
}

.approval_setting_link a span {
  color: #b5005b;
  border: 1px solid #b5005b;
}

.register_setting_link a span {
  color: #b5b500;
  border: 1px solid #b5b500;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  /* background-color: #000000; */
  color: #fff;
}

.tabs input:checked + .tab_item.basic_tab {
  background-color: #00b5ad;
}

.tabs input:checked + .tab_item.approval_tab {
  background-color: #b5005b;
}

.tabs input:checked + .tab_item.register_tab {
  background-color: #b5b500;
}

/* サンプル */

/* //プログレスバー */

/* ーーーーエラー系ーーーー */
.errmessage {
  background-color: red;
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}

/* ーーーー入力系ーーーー */

input {
  margin-top: 1.6rem;
  width: 100%;
}

input[type="text"] {
  font-size: 1.8rem;
}

#girl_input input[type="text"] {
  border-radius: 20px;
  padding-left: 1rem;
  border: 2px solid #04384c;
  height: 4.5rem;
}

select {
  font-size: 1.6rem;
  border-radius: 20px;
  min-width: 100px;
  text-align: center;
  padding: 3px;
  border: 2px solid #04384c;
}

.threesize_ul {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

select#age,
select#blood {
  float: right;
  margin-right: 10px;
}

#phase2 select {
  display: block;
  width: 100%;
  margin: 10px auto 0 auto;
  font-size: 2rem;
}

/* チェックボックス */
/* チェックボックス02 */
input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.option_tag_ul {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.boxcheck {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  position: relative;
  width: auto;
  font-size: 2rem;
}
.boxcheck::before {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  content: "";
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  width: 16px;
}
.boxcheck::after {
  border-right: 6px solid #00cccc;
  border-bottom: 3px solid #00cccc;
  content: "";
  display: block;
  height: 20px;
  left: 10px;
  margin-top: -13px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 9px;
}
input[type="checkbox"]:checked + .boxcheck::before {
  border-color: #666;
}
input[type="checkbox"]:checked + .boxcheck::after {
  opacity: 1;
}

/* マイページ設定 */

.edit_area {
  width: 100%;
  margin-bottom: 50px;
}

.count_num {
  margin-top: 10px;
  float: right;
  font-size: 0.8rem;
}

.count_num ::after {
  content: "";
  display: block;
  clear: both;
}

.radio_select_ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto 20px 0;
}

.mypage_input {
  border: none;
  outline: none;
  border-bottom: 2px solid #999;
  padding: 5px 10px;
  background-color: rgb(247 247 247);
  height: 4rem;
}
.mypage_input:focus {
  border-bottom-color: #e20000;
}

.new_staff_set_ul {
  margin-top: 32px;
}
/* ラジオボタン */

.girl_tag_ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.girl_tag_space {
  display: block;
  width: 90%;
  content: "";
  border: 1px solid #e1e1e1;
  margin: 30px auto;
}
.radio_select_list,
.girl_tag_radio_list {
  display: block;
  width: 48%;
  height: 2rem;
  text-align: center;
  margin: 15px 0;
}

.girl_tag_label_txt {
  display: block;
  width: 100%;
  line-height: 3rem;
  border-radius: 2rem;
  border: 1px solid #666;
}

.pink,
.radio_label_01:checked + label {
  background-color: pink;
}

.radio_label_01:checked ~ .bace_wrap {
  background-color: pink;
}

.blue,
.radio_label_02:checked + label {
  background-color: rgb(192 220 255);
}
.green,
.radio_label_03:checked + label {
  background-color: rgb(209, 255, 192);
}
.purple,
.radio_label_04:checked + label {
  background-color: rgb(237, 192, 255);
}

/* 次へボタン */

.step_button_wrap {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 10px auto;
}

.step_button_wrap button,
.step_button_wrap input {
  width: 45%;
  margin: 5%;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 4px;
  border: none;
}

.step_next {
  background-color: #04384c;
  color: white;
}

.step_back {
  background-color: #d3d4d4;
  color: black;
}

/* 入力エラー系 */
input[type="text"]:invalid {
  color: #630015;
  border-color: #c20c33;
  background-color: #ffd9e1;
}

textarea:invalid + #not_enough {
  display: inline;
  color: red;
}

/* 入力必須系 */

input[type="text"]:required,
textarea:required {
  border-color: #c20c33;
}

.new_girl_form,
.new_event_form {
  margin: 32px 0;
  width: 100%;
}

textarea {
  font-size: 1.6rem;
  width: 100%;
  margin-top: 1rem;
}

/* ファイル入力 */

input[type="file"] {
  display: none;
}

.set_img_label {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
  border: 2px dotted black;
  margin: 15px 0;
}

#preview1 {
  width: 100%;
}

#previewImage-preview1 {
  padding: 10px;
}

#previewImage-preview1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remove_set_img {
  font-size: 1rem;
  width: 30%;
}

.setting_btn a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0.7em 2em;
  width: 95%;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  box-shadow: 0 5px 0 #aaaaaa;
  transition: 0.3s;
}

.setting_btn a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.setting_btn a:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}

/* ステップ入力基本 */

form#multiphase > #phase2,
#phase3,
#phase4,
#phase5,
#phase6,
#phase7,
#phase8,
#phase9,
#phase10,
#show_all_data {
  display: none;
}

li {
  list-style: none;
}

.bace_wrap {
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 24px;
}

.event_post_bg {
  /* background-color: #fbf6f6; */
  border: 5px solid #ffdbec;
}

.news_post_bg {
  border: 5px solid rgb(192 220 255);
}

.cast_info_post_bg {
  border: 5px solid rgb(192, 255, 203);
}

.step_wrap {
  margin-bottom: 32px;
}

.step_wrap_post {
  margin-bottom: 48px;
}

.step_radio_wrap {
  margin: 12px 0;
}

.step_select_wrap {
  margin: 24px 0 48px 0;
}

#cast_select {
  width: 100%;
}

.step_list_wrap {
  margin-bottom: 1rem;
  margin-left: 10%;
}

.step_q {
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #04384c;
}

.step_a {
  background-color: #04384c;
  color: white;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 1.3rem;
}

#not_enough {
  font-size: 1.2rem;
  margin-left: 1rem;
  color: red;
}

/* チェックボックスだったら */

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 20px;
  background-color: #f2f4f5;
  width: 100%;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100% / 3);
  height: 50px;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 1.6rem;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 0;
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#new_enquete:checked ~ #enquete_content,
#new_picture:checked ~ #picture_content {
  display: block;
}

/* 結果発表 */
.rookie_sample_img {
  display: block;
  margin: 0 auto 8px auto;
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 64px;
  border: 4px solid pink;
}

.rookie_sample_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.set_wrap {
  padding: 10px 0px 10px 5px;
  margin: 15px 0 20px 0;
  border-radius: 10px;
  background-color: rgb(245, 202, 200);
}

.set_tag {
  color: white;
  font-size: 1rem;
  font-style: italic;
  margin-right: 18px;
  line-height: 1.8;
}
.set_tag_middle {
  color: white;
  font-size: 1rem;
  font-style: italic;
  margin-left: 18px;
}

.set_data {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 10px 2rem;
  font-size: 1.2rem;
}

.set_data li {
  margin: 0 1rem 1rem 0;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
}

/* 名前 */
.set_name li:last-child {
  /* margin-right: 0; */
}

/* スリーサイズ */
.three_size_wrap li:nth-child(2) {
  /* margin-right: 0; */
}

/* カップ */
/* 年齢 */
#display_age::after,
#display_gbreastsize::after {
  content: "）";
}
#display_age::before,
#display_gbreastsize::before {
  content: "（";
}

#display_gheight::before {
  content: "H:";
}

#display_gbreast::before {
  content: "B:";
}

#display_gwaist::before {
  content: "W:";
}
#display_ghip::before {
  content: "H:";
}

/* プログレスバー */

.progressbar {
  width: 95%;
  position: relative;
  margin: 32px auto 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.progressbar li {
  position: relative;
  font-size: 1rem;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  width: 2.5rem;
  line-height: 2.5rem;
  border-radius: 50%;
  color: #999999;
  font-weight: bold;
  counter-increment: steps;
  background-color: #f5f5f5;
}
/* .progressbar li:before {
  display: block;
  width: 26px;
  height: 26px;
  margin: 7px auto 20px auto;
  content: "";
  line-height: 26px;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  background-color: #f5f5f5;
  content: counter(steps);
} */
/* .progressbar li:after {
  position: absolute;
  z-index: -1;
  top: 15px;
  left: -50%;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #f5f5f5;
} */
.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active,
.progressbar li.complete {
  background-color: #0070bd;
  color: #fff;
}

/* プログレスバー */

/* ---------------------------------------------- */
/* スタッフ一覧のテスト用　ほんとに適当 */

/* ---------------------------------------------- */

/* schedule入れる */

/* カレンダー系 */

#datetime-input {
  width: 100%;
  height: 100px;
}

.day_time_flexwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.date-edit {
  position: relative;
}

#reserve_post_day,
#reserve_post_time {
  opacity: 0.5; /* 半透明にする値を指定 */
  width: 49%;
  border-radius: 4px;
}

/* ポップオーバー */
/* ポップオーバーのスタイル */
.popoverTemplate {
  display: none;
  width: 100%;
  margin: 0 auto;
}

.popover {
  /* position: absolute; */
  background-color: #272525cc;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 50px;
  z-index: 999;
  display: block;
  width: 95%;
  margin: 0 auto;
  text-align: left;
}

.popover p {
  margin: 1rem 0 2rem 0;
  color: white;
  font-size: 1.2rem;
}

.popover_btn {
  text-align: right;
}

.popover_btn button {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-left: 10px;
  min-width: 100px;
  border-radius: 4px;
}

.true_btn {
  border: 1px solid rgb(247, 183, 57);
  background: rgb(247, 183, 57);
}

#submit_button {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.submit_color {
  background-color: #4caf50;
  color: #fff;
}

.submit_color:hover {
  background-color: #45a049;
}

.submit_color:active {
  background-color: #3e8e41;
}

.cancel_btn_wrap {
  text-align: right;
}

.setting_cancel {
  margin-top: 30px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid rgb(123 123 202);
  border-radius: 4px;
}

.img_err {
  font-size: 1.3rem;
  background-color: rgba(255, 0, 0, 0.4);
  color: #fff;
  position: absolute;
  text-align: center;
  padding: 1.5rem;
}

/* 確認ページ */
.confirm_info {
  margin: 2rem auto;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #e4094e;
}

.form_send {
  background-color: #f1f1f1;
  border: 5px solid #f1f1f1;
  border-radius: 10px;
  margin-top: 20px;
}

.confirm_event_bg {
  margin-top: 20px;
}

h3.confirm_title {
  padding-top: 10px;
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
}

h3.confirm_title span {
  font-size: 3.7rem;
  line-height: 1.75;
  background: -webkit-linear-gradient(
    60deg,
    #12d6df,
    #f70fff,
    #faea3d,
    #fd644f
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  animation: textPlayAnime 15s infinite;
  margin-left: 2px;
  font-style: italic;
  display: inline-block;
  padding-right: 0.2rem;
  margin-right: -0.2rem;
}

@keyframes textPlayAnime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h4.block_title_caption {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  color: #6e6e73;
  margin-left: 8px;
  margin-bottom: 24px;
}

/* イベントタイトル */
.confirm_event_title {
  text-align: center;
  margin-top: 20px;
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
}

/* news一覧確認 */
.topics {
  width: 95%;
  margin: 20px auto;
}

.topic {
  overflow: hidden;
  width: 100%;
  display: flex;
  list-style: none;
  margin-bottom: 5px;
  padding: 10px 5px;
  justify-content: space-between;
  color: #6e6e73;
  background: #d7d7d7;
  background: -webkit-linear-gradient(
    top,
    #ffffff 60%,
    #ffffff 60%,
    #ebebeb 100%
  );
  background: linear-gradient(
    to bottom,
    #ffffff 60%,
    #ffffff 60%,
    #ebebeb 100%
  );
  border: 1px solid #d7d7d7;
}

.news_data {
  width: 25%;
}

.news_data time {
  font-weight: 500;
  display: block;
  font-size: 1.1rem;
  line-height: 1.8;
  color: black;
}

.news_kinds {
  font-size: 1rem;
  padding: 2px 8px;
  margin-left: 0;
  font-weight: 600;
  border-radius: 100px;
  color: #fff;
  display: inline-block;
  line-height: 1.6rem;
}

.news_top_title {
  width: 74%;
  padding: 4px 0;
}

.block_wrap_a {
  display: block;
  color: black;
  font-size: 1.2rem;
}

/* イベント本文確認 */
.confirm_event_description_text {
  font-size: 1.4rem;
  margin: 20px;
}

/* 画像オート */

.radio_pic {
  width: 33%;
  padding: 5% 2%;
}

.radio_pic img {
  width: 100%;
}

#selectedCast {
  display: flex;
  flex-wrap: wrap;
}

.select_pic_att {
  font-size: 1.2rem;
  color: rgb(234, 112, 189);
  padding: 1rem;
}

input[name="picRadio"]:checked + label.radio_pic img {
  border: 5px solid rgb(255 157 219);
}

/* 新人確認 */

.top_newface_demo {
  background-color: #ffebee;
  border: 5px solid #ffebee;
  margin: 32px 0;
}

.newface_demo_pic {
  width: 100%;
}

.newface_data_demo {
  padding: 24px 0;
  text-align: center;
}

.demo_name_age .name {
  font-weight: bold;
  font-size: 2rem;
  color: black;
}

.newface_demo_picwrap {
  width: 80%;
  margin: 0 auto;
}

/* 投稿時間 */
.confirm_post_time {
  font-size: 1.6rem;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(202, 150, 172);
  line-height: 4rem;
  background-color: #fbf2f2;
  margin-top: 20px;
}

/* 送るへ */
.send_btn_wrap {
  display: flex;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 10px auto;
}

.send_btn_wrap input {
  font-size: 1.8rem;
  width: 45%;
  margin: 5%;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 4px;
  border: none;
}

.back_btn {
  background-color: #cecece;
}
.send_btn {
  background-color: pink;
}
