@charset "utf-8";

/* 最大７６８pxまでは */
/* @media screen and (max-width: 768px) {
  h1{
    color:green;
  }

} */

/* 全体ーーーーーーーーーー */

html {
  font-size: 62.5%;
}

/* 最上段の広告が消えてヘッダーが浮いたときのスペース */
.spaceplus {
  margin-top: 13.3vw;
}

/* block内包a */

.block_wrap_a {
  display: block;
  color: #333;
}

.news_list_title {
  display: block;
  color: #333;
  font-size: 1.2rem;
}

/* カラー */
.twitter_color {
  color: #00a9eb;
}
.diary_color {
  color: #f69e21;
}
.video_color {
  color: #0bce2b;
}
.gravure_color {
  color: #9a4dff;
}

body {
  /* ゴシック */
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo",
    "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", sans-serif;
  /* 明朝 */
  /* font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif; */
  font-size: 1.4em;
  line-height: 2.24rem;
  box-sizing: border-box;
  /* background-color: #f7f7f7 !important; */
  background-color: #f5f5f7 !important;
  color: #333;
}

/* 基本的にスマホ幅で制作 */
/* 最大が７６８でそれを超えるとｂｇ表示 */
#wrapper {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  /* background-color: burlywood; */
  overflow: hidden !important;
  /* background-color: skyblue !important; */
}

main {
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* visibility: hidden; */
}

.container {
  width: 100%;
}

/* ブロック */

.content_wrapper {
  /* border-radius: 9px; */
  overflow: hidden;
  padding: 0 1%;
}

.content_bg_black {
  background-color: #404040;
}

.content_bg_grey {
  background-color: #e8e8e8;
}

.content_bg_pink {
  background-color: #ffebee;
}

.content_bg_green {
  background-color: #d4fae2;
}
/* space */

.under_space {
  margin-bottom: 32px;
}

.under_half_space {
  margin-bottom: 16px;
}

/* img関連ーーーーーーーーーー */

.img_auto img {
  width: 100%;
}

/* ｈ関連ーーーーーーーーーー */

/* 色変化設定 */

@keyframes textPlayAnime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2 {
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
}

h2.attention {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* topページ */

/* 日本語表題 */
h2.head_ja {
  font-size: 1.5rem;
  line-height: 2.8rem;
  margin: 10px 5%;
}

h2.block_title {
  font-size: 2.4rem;
  line-height: 2.8rem;
  padding-top: 12px;
}
h2.block_title_white span {
  font-size: 3.7rem;
  line-height: 1.75;
  color: white;
}

h1.fixpage_title {
  padding-top: 10px;
}

h1.fixpage_title span,
h2.block_title span {
  font-size: 3.7rem;
  line-height: 1.75;
  background: -webkit-linear-gradient(
    60deg,
    #12d6df,
    #f70fff,
    #faea3d,
    #fd644f
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  animation: textPlayAnime 15s infinite;
  margin-left: 2px;
  font-style: italic;
  display: inline-block;
  padding-right: 0.2rem;
  margin-right: -0.2rem;
}

h3.block_title_caption,
h3.block_title_caption_white {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  color: #6e6e73;
  margin-bottom: 24px;
  margin-left: 8px;
}

h3.block_title_caption_white {
  color: white;
}
.font-test {
  text-align: center;
}

.anime_text_bg_pink {
  animation: txtbgPlayAnm_pink 5s ease-in-out infinite alternate;
  /* background-color: rgba(255, 149, 187, 1); */
  color: #fff;
}

.anime_text_bg_blue {
  animation: txtbgPlayAnm_blue 5s ease-in-out infinite alternate;
  color: #fff;
}

/* ブロック背景アニメ */

.block_anime {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(-45deg, #f9c2eb, #a8c2ee, #c2f9d0, #ffdea5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.block_anime_blue {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(-45deg, #4f79ee, #a8c2ee, #daeaff, #a5aeff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

/* アニメ枠 */

.gradient-border {
  /*変数設定*/
  --borderWidth: 3px;
  background: white;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  /*グラデーション設定。位置は先ほどの変数を代入してclacで計算*/
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: gradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

/* ブロックアニメのキーフレーム */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* テキストbgのアニメ */
@keyframes txtbgPlayAnm_pink2 {
  0% {
    background-color: rgba(255, 149, 187, 1);
  }
  25% {
    background-color: rgb(253, 82, 145, 1);
  }
  50% {
    background-color: rgb(253, 25, 25, 1);
  }
  75% {
    background-color: rgba(253, 82, 145, 1);
  }
  100% {
    background-color: rgba(255, 149, 187, 1);
  }
}

@keyframes txtbgPlayAnm_pink {
  0% {
    background-color: rgb(255, 32, 155);
  }
  100% {
    background-color: rgb(206, 160, 237);
  }
}

@keyframes txtbgPlayAnm_blue {
  0% {
    background-color: rgba(32, 156, 255, 1);
  }
  100% {
    background-color: rgba(104, 224, 207, 1);
  }
}

/* レビューの星 */

.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
}
.stars::before {
  --star-color: #fff;
  --star-background: #fc0;
  content: "★★★★★";
  letter-spacing: 2px;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ボタン系 */

/* pagerボタン */
.nav_links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-numbers {
  margin: 0 5px;
  display: inline-block;
  font-size: 1.2rem;
  color: #bdbdbd;
  background-color: #eceff1;
  line-height: 36px;
  height: 36px;
  min-width: 36px;
  text-align: center;
  border-radius: 50%;
}

.page-numbers.current {
  background-color: #444;
  color: #fff;
}
/* 押すと全体表示用シンプルbutton */

.omit_btn {
  appearance: none;
  border: 0;
  width: 200px;
  border-radius: 10px;
  background-color: #a5aeff;
  color: white;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  position: absolute;
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-align: center;
  bottom: 20px;
  left: calc(50% - 100px);
  z-index: 10;
}

.omit_btn:active {
  bottom: 18px;
  box-shadow: none;
}

.omit_btn::after {
  content: "もっと見る";
  transition: 0.8s;
  -erbkit-transition: 0.8s;
}

.omit_wrap_size {
  height: 150px;
  overflow: hidden;
  margin-bottom: 16px;
}

.omit_wrap_size.open {
  height: auto;
  overflow: visible;
}

.omit_wrap_size::before {
  position: relative;
}

.readmore_wrapper {
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.7) 20%,
    rgba(255, 255, 255, 1) 80%
  );
  position: absolute;
  z-index: 5;
}

/* 選択でカラーチェンジ */

#select_days {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.select_btn {
  text-align: center;
}

.goto_list,
.goto_list_w {
  float: right;
  font-weight: bold;
  font-size: 1.1rem;
  position: relative;
  right: 5%;
  margin-top: 10px;
}

.goto_list a {
  color: black;
}

.goto_list_w a {
  color: white;
}

.goto_list a span,
.goto_list_w a span {
  margin-left: 4px;
}

.select_btn span {
  color: #6e6e73;
  width: 100%;
  display: block;
  font-size: 1.6rem;
  line-height: 3.6rem;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid white;
}
.select_btn .anime_btn {
  color: white;
  font-weight: bold;
}

.schedule_btn {
  width: 25%;
  padding: 5px;
}

.sun {
  background-color: #ffbeee;
}
.sun_font {
  color: #ffbeee;
}

.sat {
  background-color: #beeaff;
}
.sat_font {
  color: #beeaff;
}

.weekday {
  background-color: #ecebeb;
}

@keyframes btnPlayAnm {
  0% {
    background-color: rgba(255, 149, 187, 1);
  }
  50% {
    background-color: rgba(255, 231, 150, 1);
  }
  100% {
    background-color: rgba(168, 217, 243, 1);
  }
}

/* アニメボタン */
.anime_btn {
  animation: btnPlayAnm 5s ease-in-out infinite alternate;
  display: block;
  background-color: rgba(255, 149, 187, 1);
  color: #fff;
}

.button_arrow a {
  margin: 0 auto;
  padding: 1em 2em;
  width: 90%;
  min-width: 180px;
  border-radius: 9px;
  transition: 0.6s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  text-align: center;
}

.button a {
  margin: 0 auto;
  padding: 1em 2em;
  width: 95%;
  min-width: 180px;
  border-radius: 9px;
  transition: 0.6s;
  display: block;
}

.button_small {
  float: right;
}

.button_small a {
  border-radius: 100vh;
  text-align: center;
  padding: 6px 20px;
}

.btn_color_red {
  background-color: #be1c10;
  color: #fff;
}

.btn_color_blue {
  background-color: #0071e3;
  color: #fff;
}

.btn_color_pink {
  background-color: palevioletred;
  color: #fff;
}

.btn_color_blink {
  color: white;
  background-color: pink;
  animation: blink-bg 1s infinite; /* 点滅のアニメーション */
}

@keyframes blink-bg {
  0% {
    background-color: pink;
  }
  50% {
    background-color: lightcoral;
  }
  100% {
    background-color: pink;
  }
}

.btn_font00 {
  font-size: 2rem;
  font-weight: 700;
}

.btn_font01 {
  font-size: 1.3rem;
  font-weight: 700;
}

.button_arrow a::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 3px solid;
  border-right: 3px solid;
  transform: rotate(45deg);
}

.detail_under_right {
  float: right;
}

.btn_active:active {
  text-decoration: none;
  background-color: #fff;
  color: red;
}

/* バナー系 */
.banner_max {
  width: 100%;
  max-width: 768px;
  height: auto;
  overflow: hidden;
  border-radius: 3px;
}

.banner_max img {
  width: 100%;
  height: auto;
  max-height: 280px;
  object-fit: cover;
  object-position: 50% 50%;
}

/* 注意喚起 */

.icon-arrow:before {
  content: "\e900";
}

.icon-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7.5px;
  font-size: 15px;
}

/* header出したり消えたり */

.sa {
  opacity: 0;
  transition: all 0.5s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}

/* fadein */
.scroll-up {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 1s;
}
.scroll-up.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/* fadein */
.scroll-expansion {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  transition: all 1s;
}
.scroll-expansion.is-show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

/* 吹き出し */
.staff_state_mark {
  display: block;
  padding: 0.6em 0.8em;
  background-color: #000;
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 20px;
  position: absolute;
  top: -1em;
  right: -0.2em;
  z-index: 10;
}
.staff_state_mark::before {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #000 transparent transparent transparent;
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translate(-50%, 0);
}
.fukidashi_green {
  background-color: #08a517;
}

.staff_state_mark::before {
  border-top-color: #08a517;
}

/* マークがは見出せない場合 */
.staff_card_wrap {
  overflow: hidden;
  position: relative;
}

/* 新人 */
.tag {
  display: block;
  position: absolute;
  font-size: 13px;
  top: -9px;
  left: -39px;
  color: #fff;
  font-weight: bold;
  width: 100px;
  height: 44px;
  padding-top: 20px;
  text-align: center;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 1;
}
.new_cast {
  color: #333;
  background: #d4ba35 !important;
}
