@charset "utf-8";

/* 最大７６８pxまでは */
/* @media screen and (max-width: 768px) {
  h1{
    color:green;
  }

} */

/* 全体ーーーーーーーーーー */
.font-test {
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  /* ゴシック */
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo",
    "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", sans-serif;
  /* 明朝 */
  /* font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif; */
  font-size: 1.4em;
  line-height: 2.24rem;
  box-sizing: border-box;
  background-color: mediumturquoise;
}

main {
  padding-top: 50px;
  visibility: hidden;
}

#wrapper {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  background-color: burlywood;
}

.container {
  width: 100%;
  padding: 0 7px;
  margin: 0 auto;
}

/* ｈ関連ーーーーーーーーーー */
h1 {
  font-size: 2.2rem;
  line-height: 4.8rem;
}

.btn-icon {
  width: 50px;
  height: 50px;
  background-color: red;
  border: solid 1px #000;
}

/* 上段バナー関係 */
#h_banner {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: grey;
  visibility: hidden;
  z-index: 500;
  height: 0px;
}

#h_banner.banner_visible {
  visibility: visible;
  height: 50px;
}

.close_banner {
  position: absolute;
  left: 10px;
  top: 15px;
}

.round_btn {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%; /* 丸みの度合い */
  background: rgba(10, 10, 100, 0.2); /* ボタンの背景色 */
}

.round_btn::before,
.round_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px; /* 棒の幅（太さ） */
  height: 12px; /* 棒の高さ */
  background: white; /* バツ印の色 */
}

.round_btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.round_btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* 下の固定ナビ */

#under_nav {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  position: fixed;
  bottom: 300px;
  background-color: red;
  z-index: 200;
  visibility: hidden;
}

#under_nav.under_nav_pinned {
  visibility: visible;
}

/* ////////////////////////////// */
/* ////////////////////////////// */
/*////////// header関連////////////*/
/* ////////////////////////////// */
/* ////////////////////////////// */

.koukoku p,
.spHeader {
  height: 50px;
}
.koukoku p {
  background-color: blue;
}

#sns_btn,
#hamburger {
  width: 48px;
  height: 48px;
  background-color: red;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon_content {
  width: 80%;
  height: 80%;
  background-color: red;
  position: relative;
}

.cube_icons p,
.icon_content p {
  font-size: 1rem;
  position: absolute;
  bottom: -7px;
  width: 100%;
  margin: 0 auto;
}

header {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  height: 48px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 300;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); */
  /* transition: all 0s; */
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

.header_blind {
  transition: all 0.5s;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

.header_pinned {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.header_contents {
  display: flex;
  justify-content: space-between;
  -ms-flex-pack: justify; /* IE */
  align-items: center;
  background-color: #fff;
}

.cube_icons {
  width: 48px;
  height: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon_content {
  width: 80%;
  height: 80%;
  background-color: red;
  position: relative;
}

.cube_icons p {
  font-size: 1rem;
  position: absolute;
  bottom: -7px;
  width: 100%;
  margin: 0 auto;
}

#shop_logo {
  background-color: red;
  width: 120px;
  overflow: hidden;
  text-align: center;
}

/* ハンバーガーボタン */
/* #hamburger {
  position: fixed;
  top: 0px;
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  z-index: 300;
  cursor: pointer;
} */

.inner_line {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 4px;
  background-color: #000;
  transition: all 0.5s; /*アニメーション設定*/
  border-radius: 4px;
}

.line1 {
  top: 5px;
}
.line2 {
  top: 13px;
}
.line3 {
  top: 21px;
}

/* ハンバーガーボタンのアニメ */

.open .line1 {
  /*-45度回転させる*/
  transform: translateY(8px) rotate(-45deg);
  top: 5px;
}
.open .line2 {
  opacity: 0;
}
.open .line3 {
  /*45度回転させる*/
  transform: translateY(-8px) rotate(45deg);
  top: 21px;
}
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* ハンバーガーのメニューでます */
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
.nav_wrapper {
  position: relative;
}

/* snsナビ */
#sp_wrapper,
#sns_wrapper {
  position: absolute;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
}

#sp_wrapper.sp_wrap_deploy,
#sns_wrapper.sns_wrap_deploy {
  visibility: visible;
}

/* ナビを消す用背景 */
#close_bg_ham,
#close_bg_sns {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 15;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
}

/*ハンバーガーメニューが開いたら表示*/
#close_bg_ham.active,
#close_bg_sns.active {
  opacity: 0.3;
  visibility: visible;
}

#sns_nav {
  max-width: 768px;
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: all 0.5s; /*アニメーション設定*/
  background-color: rgba(2, 2, 2, 0.9);
  color: white;
  text-align: center;
  z-index: 20;
}

#sns_nav.sns_in_nav {
  transform: translateX(100%);
  overflow: hidden;
}

#sns_nav ul {
  display: flex;
}

#sns_nav li {
  display: block;
  cursor: pointer;
  border: 1px solid #555;
  width: 33.3%;
  height: 100px;
}

#sp_nav {
  position: absolute;
  top: -120%;
  width: 100%;
  height: 60vh;
  transition: all 0.5s; /*アニメーション設定*/
  background-color: rgba(2, 2, 2, 0.9);
  padding: 25px 0;
  z-index: 20;
}

#sp_nav.in_sp_nav {
  top: 0;
  overflow: hidden;
}

/* メニュー出ると下は動かない */
.nav_deploy_h,
.nav_deploy_s {
  overflow: hidden;
  height: 100%;
}

/* メニューの中身 */

#sp_nav ul {
  padding: 0 20px;
}
#sp_nav ul li {
  border-bottom: solid 1px #555;
  list-style: none;
}

#sp_nav ul li a {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px 10px 0;
  position: relative;
}

#sp_nav ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 17px;
}

#shop_info,
#sns_info {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  color: grey;
}

/* accordion ---------------------------------- */
.areaMenu {
  width: 100%;
  padding: 0 4px;
  margin: 0 auto;
}

.accordion-single {
}

.accordion-single-title {
  border-bottom: 1px solid #efefef;
  padding: 10px;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  margin: 0;
}

/* 右矢印 */
.accordion-single-title::after {
  content: "";
  position: absolute;
  right: 25px;
  top: 50%;
  transition: all 0.5s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px #999;
  border-right: solid 2px #999;
  transform: translateY(-50%) rotate(135deg);
}

.accordion-single-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.accordion-single-content p {
  padding: 10px;
  background-color: #999;
  border-bottom: 1px solid #efefef;
}

.accordion-single-item.is-open .accordion-single-content {
  max-height: 150px;
}

.accordion-single-item.is-open .accordion-single-title::after {
  transform: translateY(-50%) rotate(315deg);
}

/* swaiper */

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}

.swiper-wrapper {
  background-color: #678;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide span {
  display: block;
  width: 100%;
  height: 5%;
  background-color: #000;
  color: #fff;
  position: absolute;
  bottom: 50px;
}

/* gl */

.swiper2 {
  width: 80%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}

.girl-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100%;
  width: 400px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}

.girl-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* news */
.swiper3 {
  width: 95%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}

.news-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 30%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}

.news-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* header出したり消えたり */

.sa {
  opacity: 0;
  transition: all 0.5s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}
