@charset "utf-8";

/* 最大７６８pxまでは */
/* @media screen and (max-width: 768px) {
  h1{
    color:green;
  }

} */

/* topページ */

/* イベント */

.event_banner {
  margin: 12px 0;
}

/* 注意喚起 */

.icon-arrow:before {
  content: "\e900";
}

.icon-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7.5px;
  font-size: 15px;
}

/* header出したり消えたり */

.sa {
  opacity: 0;
  transition: all 0.5s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}

/* -------------------------------- */
/*　写真バナー  */

.pic_bunner_box {
  border-radius: 8px;
  overflow: hidden;
}

/* クーポン */
.coupon {
  width: 250px;
  border-radius: 0.5rem;
  background: #ddf404;
}

.coupon .btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.1em;
  color: #212529;
}

.coupon .btn-coupon {
  line-height: 1.2;
  padding: 2rem 3rem;
  border-radius: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
}

a.btn-coupon .coupon_name {
}
a.btn-coupon .coupon_price {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
}

.coupon .btn-coupon:before,
.coupon .btn-coupon:after {
  position: absolute;
  top: calc(50% - 15px);
  width: 30px;
  height: 30px;
  content: "";
  border-radius: 50%;
  background: #e8e8e8;
}

.coupon .btn-coupon:before {
  left: -15px;
}

.coupon .btn-coupon:after {
  right: -15px;
}
